*.class

# Package Files #
*.jar
*.war
*.ear
/typedquery-demo/target/
/typedquery-demo-web/target/
/typedquery-demo/typedquery-demo-web/target/
/typedquery-demo/typedquery-demo-annotations/target/
/typedquery-demo/typedquery-demo-processors/target/