*.class

# Package Files #
*.jar
*.war
*.ear
/typedquery-demo/target/
/typedquery-demo-web/target/
/typedquery-demo/typedquery-demo-web/target/
/typedquery-demo/typedquery-demo-annotations/target/
/typedquery-demo/typedquery-demo-processors/target/
/extension-demo/extension-demo-extensions/nbproject/private/
/extension-demo/extension-demo-web/build/
/extension-demo/extension-demo-web/nbproject/private/
/extension-demo/extension-demo-web/dist/
/extension-demo/extension-demo-extensions/dist/
/extension-demo/extension-demo-extensions/build/